@import '@mdi/font/css/materialdesignicons.css';

input[type="text"]{
    background-color:white;
    border-radius: 10px;
    border-color:rgb(87, 118, 150);
    padding: 1%;
    margin-bottom: 4%;
}
select{
    background-color:white;
    border-radius: 10px;
    border-color:rgb(87, 118, 150);
    padding: 1%;
    margin-bottom: 4%;
}
input[type="password"]{
    background-color:white;
    border-radius: 10px;
    border-color:rgb(87, 118, 150);
    padding: 1%;
    margin-bottom: 4%;
}
input[type="date"]{
    background-color:white;
    border-radius: 10px;
    border-color:rgb(87, 118, 150);
    padding: 1%;
    margin-bottom: 4%;
}
input[type="email"]{
    background-color:white;
    border-radius: 10px;
    border-color:rgb(87, 118, 150);
    padding: 1%;
    margin-bottom: 4%;
}
fieldset{
    background-color:white;
    border-radius: 10px;
    border-color:rgb(87, 118, 150);
    padding: 1%;
    width: 100%;
    margin: 4%;
    margin-top: 0%;
    line-height: 250%;
}